<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/snack_edit_new.css">
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Add New Snacks</h1>
    <form action="/snacks" method="POST">
 <label for="name">Name:</label>
<input type="text" name="name" id ="name" required>

<label for="rating">Raiting:</label>
<input type="text" name="rating" id ="rating" required>

<label for="cost"> cost:</label>
<input type="text" name="cost" id ="cost" required>

<label for="eaten">Eaten:</label>
<input type="checkbox" name="eaten" id="eaten" >

<button type="submit">Add Snack</button>

    </form>
</body>
</html>