<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Snacks List 🤤</h1>
    <% snacks.forEach(snack => { %>
        <li><a href="/snacks/<%=snack.id %>"><%=snack.name %></a></li>
   <% }); %>
</body>
</html>